<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/images/logo.png" alt="Logo">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <!-- Left side -->
    <div class="navbar-nav mr-auto">
      <a class="nav-link active" routerLink="">
        Trips <span class="sr-only">(current)</span>
      </a>
    </div>

    <!-- Right side -->
    <div class="navbar-nav ml-auto">
      <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">
        Log In
      </a>
      <a class="nav-link" (click)="onLogout()" *ngIf="isLoggedIn()">
        Log Out
      </a>
    </div>
  </div>
</nav>